floris==4.4.2
geopandas==1.1.1
ipyleaflet==0.20.0
ipywidgets==8.1.7
numpy==2.3.3
openmeteo_requests==1.7.3
pandas==2.3.3
pyproj==3.6.1
PyYAML==6.0.3
requests_cache==1.2.1
retry_requests==2.0.0
scipy==1.16.2
Shapely==2.1.2
